@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


header > p {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

body {
    margin: 20px 25px;
    font-size: 20px;
    background: #00CDB0;
}

main, .flex-container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    margin: 0;
    width: 100%;
}


h1 {
    text-align: center;
    font-size: 38px;
    font-style: oblique;
    text-transform: lowercase;
    color: #6f00cae8;

}

.feed-me-form {
    justify-content: space-evenly;    
    margin-top: 150px;
}

.change-diaper-form {
    justify-content: space-evenly;
    margin-top: 159px;
}

.bath-time-form {
    justify-content: space-evenly;
    margin-top: 67px;
}

/********************************************/
/********************************************/
.timer-text {
    margin: -20px 0 25px;
    padding: 10px;
    text-align: center;
    width: 200%;
    background-color: #6f00cae8;
    border: 15px solid #fc62efc4;
    

    color: #fde17c;
    font-style: oblique;
    font-weight: 900;
    font-size: 26px;
    text-transform: lowercase;
    line-height: 1.125em;
    word-spacing: 2px;
}

.timer {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fde17c;
    
    margin: -5px 0 30px;
    width: 200%;
    padding: 5px;
    background-color: #6f00cae8;
    border: 15px solid #fc62efc4;
}
/********************************************/
/********************************************/



/********************************************/
/********************************************/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/********************************************/
/********************************************/


a {
    text-decoration: none;
    color: #500091;
}
a:visited {
    color: #500091;
}

a:hover, .button:hover {
    background: #ED469A;
    border-color: #92295dd2;
    color: #FCC700;
}

.button {
    flex: 1;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 35px;
    margin: 0 0 45px 0;
    font-family: 'Balsamiq Sans', Arial, Helvetica, sans-serif;
    font-size: 35px; 
    font-weight: 700;
    border: 5px solid #c983028a;
    border-radius: 50px;
    background: #FCC700;
    box-shadow: 0 5px 5px #500091, 
                0 5px 10px #500091;
}


/********************************************************/

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.navigation {
    position: fixed;
    bottom: 10px;
}

.button-nav {
    flex: 1;
    justify-content: space-evenly;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 25px 20px;
    text-align: center;
    font-family: 'Balsamiq Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    border: 5px solid #c983028a;
    border-radius: 50px;
    background: #FCC700;
    box-shadow: 0 5px 5px #500091, 
                0 5px 10px #500091;
}



