* {
    box-sizing: border-box;
}

body {
    margin: 20px 25px;
    font-size: 20px;
}

header {
    margin-bottom: -50px;
}

h1 {
    text-align: center;
    padding: 10px 70px;
    font-size: 30px;
}

header > p {
    text-align: center;
    font-size: 40px;
    margin: -20px 0 10px;
    padding: 25px;
    background-color: lightgray;
}

h2 {
    background-color: lightgray;
    padding: 10px;
}

main, .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container {
    margin: 100px 0
}

a {
    text-decoration: none;
}

.button {
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 40px 35px;
    margin: 0 0 50px 0;
    border: 2px solid black;
    background: lightgray;
}