* {
    box-sizing: border-box;
}

body {
    margin: 20px 10px;
    font-size: 20px;
}

header {
    margin-bottom: 20px;
}

header > p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 20px 20px;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.button-nav {
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    border: 2px solid black;
    background: lightgray;
    margin: 10px;
    padding: 20px 20px;
}